/**
 * nuxt.config の vuetify.customVariables で読み込む
 */

/**
 * list
 */
$list-dense-min-height: 36px;
$list-item-action-icon-margin: 16px;
$list-item-action-margin: 0 0;
$list-item-icon-margin-y: 8px;
$list-item-avatar-margin-y: 4px;

/**
 * chip
 */
$chip-padding: 0 8px;

/**
 * slider
 */
$slider-track-width: 4px;
