html {
  overscroll-behavior-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $g-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
  }
}

/**
 * スライダーのスタイルを上書き
 */
.v-slider {
  cursor: pointer !important;

  &__track {
    &-container {
      height: 5px !important;
    }

    &-background,
    &-fill {
      border-radius: 5px;
    }

    &-background {
      height: 4px !important;
    }
  }
}

/**
 * デフォルトのリンクのスタイル
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.v-application {
  a {
    color: inherit;
  }
}

/**
 * アイコンに下線がひかれる場合などに適用
 */
.g-no-text-decoration {
  &:hover {
    text-decoration: none;
  }
}

.v-btn--outlined {
  border: 1.5px solid currentColor !important;
}

/**
 * スクロールバーを無効化
 */
.g-no-scroll-bar {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}

/**
 * カスタマイズされたスクロールバー
 */
.g-custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
  }
}

/**
 * あふれた文字を省略
 */
.g-ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

/**
 * 周りに影をつける
 */
.g-box-shadow {
  box-shadow: 0 0 8px 8px rgba($g-background-color, 0.2);
}

/**
 * テキストの両端ヲグラデーションにする
 * 親要素を position: relative にする必要がある
 */
.g-text-gradation {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    padding: 8px 4px;
    background-image:
      linear-gradient(
        to right,
        rgba($g-bar-background-color, 1),
        rgba($g-bar-background-color, 0),
      );
    z-index: z-index-of(text-gradation);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    padding: 8px 4px;
    background-image:
      linear-gradient(
        to left,
        rgba($g-bar-background-color, 1),
        rgba($g-bar-background-color, 0),
      );
    z-index: z-index-of(text-gradation);
  }
}

.g-small-text {
  font-size: 12px;
}
