/**
 * nuxt.config の css で読み込む
 */

html {
  overscroll-behavior-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $g-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
  }
}

/**
 * スライダーのスタイルを上書き
 */
.v-slider {
  cursor: pointer !important;

  &__track {
    &-background,
    &-fill {
      border-radius: 2px;
    }
  }
}

/**
 * タブに丸みをもたせる
 */
.v-tab::before {
  border-radius: 4px;
}

/*
 * テーブルのスタイルを上書き
 */
.v-data-table {
  // 表の背景を透過にし、全体の背景と同じ色にする
  background-color: rgba(0, 0, 0, 0) !important;

  table {
    // 表と列の幅を最初の行のセルの幅に固定して設定
    table-layout: fixed;

    tr {
      td,
      th {
        padding: 0 4px !important;
      }

      &.v-row-group__header {
        // 表全体の背景と同じ色にする
        background: inherit !important;

        td {
          height: 44px !important;
        }
      }

      th {
        height: 44px !important;

        // .v-aplication .active を無効化する
        &.active {
          background-color: inherit !important;
          border-color: inherit !important;
        }
      }
    }
  }
}

/**
 * デフォルトのリンクのスタイル
 */
a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.v-application {
  a {
    color: inherit;
  }
}

/**
 * アイコンに下線がひかれる場合などに適用
 */
.g-no-text-decoration {
  &:hover {
    text-decoration: none;
  }
}

.v-btn--outlined {
  border: 1.75px solid currentColor !important;
}

/**
 * スクロールバーを無効化
 */
.g-no-scroll-bar {
  @include no-scroll-bar();
}

/**
 * カスタマイズされたスクロールバー
 */
.g-custom-scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 8px;
  }
}

/**
 * あふれた文字を省略
 */
.g-ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/**
 * 周りに影をつける
 */
.g-box-shadow {
  box-shadow: 0 0 8px 8px rgba($g-background-color, 0.2);
}

/**
 * テキストの両端ヲグラデーションにする
 * 親要素を position: relative にする必要がある
 */
.g-text-gradation {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    padding: 8px 4px;
    background-image:
      linear-gradient(
        to right,
        rgba($g-footer-background-color, 1),
        rgba($g-footer-background-color, 0),
      );
    z-index: z-index-of(text-gradation);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    padding: 8px 4px;
    background-image:
      linear-gradient(
        to left,
        rgba($g-footer-background-color, 1),
        rgba($g-footer-background-color, 0),
      );
    z-index: z-index-of(text-gradation);
  }
}

.g-small-text {
  font-size: 0.75rem;
}
