/**
 * color
 */
$g-title-color: #fff;
$g-subtitle-color: rgba(255, 255, 255, 0.7);

$g-background-color: #121212;
$g-bar-background-color: #303030;
$g-data-table-background-color: #1e1e1e;
$g-menu-background-color: #323232;

/**
 * size
 */
$g-header-height: 52px;
$g-footer-height: 80px;
$g-device-bar-height: 24px;
$g-navigation-drawer-width: 200px;
$g-flex-card-min-width: 160px;
$g-flex-card-max-width: 240px;

/**
 * z-index
 */
$__layer-map: (
  loading: 13,
  toast: 12,
  modal: 12,
  front-menu: 11,
  overlay: 10,
  menu: 9,
  header: 4,
  navigation-drawer: 4,
  footer: 4,
  floating-button: 3,
  tab: 3,
  text-gradation: 2,
);

@function z-index-of($key) {
  @return map-get($__layer-map, $key);
}

/**
 * フェードイン・フェードアウト
 */
@mixin fade-transition($seconds) {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity #{$seconds}s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

/**
 * テキストを流す
*/
@mixin marquee-animation() {
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}
